<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# "My Jupyter Notebook on IBM Watson Studio"

<b>Devin Nicholson</b><br>
Data Analyst / Data Scientist

<i>I am interested in data science becuase data is fun to work with. Finding the answers you are looking for by solving the puzzle that is a data set is exciting to me. It is also a plus that this is a skill that will be very valuable to have for the forseeable future. </i>

### The code below is an addition problem

In [1]:
1+1

2

<a href="devinmnicholson.com">My Website</a>
<ol>
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
</ol>
<table>
  <tr>
    <th>1</th>
    <th>2</th>
    <th>3</th>
  </tr>
  <tr>
    <td>123 </td>
       <td>456</td>   
       <td>789</td>   
  </tr>
  <tr>
   <td>123</td>   
       <td>456</td>   
       <td>789</td> 
 
 <tr>
    <td>123</td>   
       <td>456</td>   
       <td>789</td>  
 </tr>
 <tr>
   <td>123</td>   
   <td>456</td>   
   <td>789</td>  
  </tr>
</table>